$theme_bgcolor : #422057; 
$theme_bgfontcolor: #FCF951 ; 
$theme_highlightcolor: #CBCE91 ; 


.ztabitem {
    background: #422057;
}
.ztabitem_a {
    text: #fff;
}
.ztabbar {
    border-bottom: 3px solid  #422057;
}