{% extends 'layouts/layout_app.html' %} 

{% import 'macros/chatbox.html' as chatbox with context %}

{% block body %}
    {% include 'widget_tab_navbar.html' %}
    
    <div class="mt-5 pt-3"> <!-- mt-5 @ clear fixed top nav-->
        <div class="" id='zbotchat'>
            {% include 'widget_chatbox.html' %}
        </div>
        <div class="" id='zjhumap'>
            {% include 'widget_jhu_map.html' %}
        </div>
        <div class="" id='zabout'>
            {% include 'widget_about.html' %}
        </div>
    </div>
{% endblock %}


{% block scripterz %}
{% endblock %}