
{% set about_body = 
    '''
    A <em> retrievel based </em> machine learning FAQ bot. 
    <p>
        Training and FAQ Data is sourced from 
        <ul>
            <li><a href="http://www.health.go.ke/"> Ministry of Health, KE </a></li>
            <li><a href="https://coronavirus.jhu.edu/"> John Hopkins Uni </a></li>
            <li><a href="https://www.who.int/"> WHO </a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"> CDC </a></li>
        </ul>
    </p>
    
    <p>
        Map and Tally data is sourced from 
        <ul>
            <li><a href="https://coronavirus.jhu.edu/"> John Hopkins Uni </a></li>
            <li><a href="https://covid19api.com/"> Public Covid19 API </a>, which sources from John Hopkins</li>
        </ul>
    </p>
    <p>
        For feedback 
        <a class="btn btn-sm btn-outline-success shadow" target="_blank" href="https://api.whatsapp.com/send?phone=+254795509390" itemprop="telephone"> 
            <span class="glyphicon glyphicon-earphone"></span> <img class="m-0 p-0" style="width: 20px;" src="https://png.pngtree.com/png-clipart/20190515/original/pngtree-whatsapp-icon-logo-png-image_3560534.jpg" /> chat me up </a> or 
        <a class="btn btn-sm btn-outline-primary shadow" href="mailto:bitzcodie@gmail.com" itemprop="email"> 
            <span class="glyphicon glyphicon-earphone"></span><img class="m-0 p-0" style="width: 20px;" src="https://p7.hiclipart.com/preview/745/644/18/email-logo-icon-email-png.jpg" /> email me </a>
    </p>
    '''
%}

{% import 'macros/chatbox.html' as chatbox with context %}

{{ chatbox.card_full(
    'About', 
    about_body | safe,
    APP_ICON_URL
    )
}}
