
{% set about_body = 
    '''
    A <em> retrievel based </em> machine learning FAQ bot. 
    <p>
        Training and FAQ Data is sourced from 
        <ul>
            <li><a href="http://www.health.go.ke/"> Ministry of Health, KE </a></li>
            <li><a href="https://coronavirus.jhu.edu/"> John Hopkins Uni </a></li>
            <li><a href="https://www.who.int/"> WHO </a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"> CDC </a></li>
        </ul>
    </p>
    
    <p>
        Map and Tally data is sourced from 
        <ul>
            <li><a href="https://coronavirus.jhu.edu/"> John Hopkins Uni </a></li>
            <li><a href="https://covid19api.com/"> Public Covid19 API </a>, which sources from John Hopkins</li>
        </ul>
    </p>
    '''
%}

{% import 'macros/chatbox.html' as chatbox with context %}

{{ chatbox.card_full(
    'About', 
    about_body | safe,
    APP_ICON_URL
    )
}}
